#container{
    display:grid;
    grid-template-columns: 150px 300px 200px;
    grid-template-rows: 100px 500px 100px;
    /* grid-column-gap: 10px;
    grid-row-gap: 20px; */
    grid-gap:30px 5px;
}
.content{
    background-color: brown;
    border: 1px solid black;
}